
/*
    SIR Custom CSS
*/
body {
    margin:0; padding:0; overflow:hidden; font-size:14px; font-weight:500;
    font-family:"Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑",tahoma,arial,simsun,"宋体";
}

/****** Login Page ******/
.ui-login-page
{
    background: url(../images/mobile-login-bg.png) top center no-repeat;
    background:#008bd6; background-size:100% 100%;
}
.ui-login-logo{ padding:4% 0; text-align:center;}
.ui-login-logo img{ max-width:60%; border:0;}

.copyright
{
    margin:0; padding:1em; text-align:center; background-color:#008bd6;
    font-size:12px; color:#fff; text-shadow:none;
}
.ui-login-group
{
    display:block; margin:1em 0; min-height:22px;
}
.ui-login-group i
{
    display:inline-block; width:40px; height:40px;
    float:left; overflow:hidden;
    border-radius: .3125em 0 0 .3125em;
}
.ui-login-group i.user-icon
{
    background:#ddd url(../images/icon-max-user.png) center center no-repeat; background-size:60%;
}
.ui-login-group i.user-password
{
    background:#ddd url(../images/icon-max-password.png) center center no-repeat; background-size:60%;
}
.ui-login-group .ui-input-text
{
    display:block; margin-left:40px; border:0; height:30px; padding:5px 2.375em 5px 0;
    border-radius: 0 .3125em .3125em 0; box-shadow:none;
}

.ui-login-group .ui-checkbox
{
    float:left; margin:0 .5em 0 0; padding:0; display:inline-block;
    width:22px; height:22px;
}
.ui-login-group .ui-checkbox input{ left:0;}
.ui-login-group b{
    font-size:1.1em; color:#fff; text-shadow:none; line-height:22px;
}






/****** Index Page ******/
.margin-top-bottom-10px{ margin:15px 0;}
.ui-listview li a{ height:20px; font-size:14px; line-height:20px; font-weight:100;}
.ui-listview li a span
{
    float:left; display:inline-block; width:75%; overflow:hidden; color:#008bd6;
}
.ui-listview li a label
{
    float:right; display:inline-block; width:20%; overflow:hidden;
    font-size:12px; line-height:20px; text-align:right; color:#999; padding:0 .5em;
}





/****** Notice Detail Page ******/
.notice-title
{
    clear:both; margin:0; padding:.7em 1em; overflow:hidden;
    border-bottom:1px solid #ddd; font-size:15px; color:#008bd6;
}
.annex
{
    font-size:13px; font-weight:normal;
}
.annex span
{
    float:left; max-width:65%; overflow:hidden;
}
.annex label
{
    float:right; max-width:65%; padding:0 .5em; overflow:hidden;
    font-size:12px; font-weight:normal;
}
.annex label u
{
    padding:0 5px; text-decoration:none;
}
.notice-detail
{
    padding:1em;
}
.notice-detail p
{
    line-height:1.6em;
}






/****** Contact Page ******/
.ui-input-search-box
{
    clear:both; display:block; padding:.1em 1em;
    border-bottom:1px solid #ddd;
}
.ui-input-search-box .ui-shadow-inset
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.ui-contact-box .ui-listview
{
    margin:0 -1.1em;
}
.ui-contact-box .ui-listview li a b
{
    font-weight:bold;
}
.tree-title
{
    clear:both; display:block; margin:-1em -1em 0 -1em; padding:.2em .5em;
    background:#E9E9E9;
    font-size:14px; line-height:normal;
}
.ui-contact-list-group{margin:0; padding:0;}

.ui-contact-list
{
    clear:both; display:block; margin:0; padding:0; list-style:none; background:#f6f6f6;
}
.ui-contact-list li
{
    clear:both; padding:.5em 0; height:48px; overflow:hidden; position:relative;
    border-bottom:1px solid #ddd;
}
.ui-contact-list li:hover{background:#E9E9E9;}
.ui-contact-list li .ui-checkbox
{
    float:left; height:100%; border:0; margin:0; overflow:hidden;
}
.ui-contact-list li .ui-checkbox label
{
    height:100%; border:0; margin:0; padding:0 1.5em; height:48px; background:none;
}
.ui-contact-list li .ui-checkbox label:hover{ background:none;}
.ui-contact-list li .ui-checkbox label:after{ margin-left:5px;}
.ui-contact-list li .ui-checkbox input{ display:none;}

.ui-contact-item-link
{
    display:block; height:48px; margin-left:48px; padding-right:80px;
    text-decoration:none; overflow:hidden;
}
.ui-contact-item-link img
{
    float:left; margin-right:1em; height:48px;
    border-radius:.5em;
}
.ui-contact-item-link h2{ margin:0; padding:.25em 0; font-size:1.1em; color:#333; text-shadow: 0 1px 0 #eee;}
.ui-contact-item-link p{ margin:0; padding:.15em 0; font-size:.8em; color:#333; text-shadow: 0 1px 0 #eee;}
.ui-contact-item-link p u{ color:#008bd6; text-decoration:none; font-weight:normal;}
.ui-contact-item-more
{
    float:right; position:absolute; top:50%; right:0;
    width:60px; height:34px; margin:-18px 10px 0 0;
    border:1px solid #0073ba; background:#008bd6; text-shadow:none;
    border-radius:.3125em; overflow:hidden;
    text-align:center; line-height:34px; color:#fff; text-decoration:none;
}
.ui-contact-item-more:link{ color:#fff;}
.ui-contact-item-more:hover:link{ background:#0073ba; color:#fff;}

.ui-user-group
{
    display:block; margin:1em 0 0 0; padding:1em; min-height:120px;
    border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff;
}
.ui-user-group img 
{
    float:left; display:inline-block; max-width:120px; margin-right:1em;
    border-radius:1em; border:1px solid #ddd;
}
.ui-user-group h3{ padding:.5em 0; margin:0;}
.ui-user-group h4{ padding:.5em 0; margin:0; font-weight:500;}

.ui-user-infor{ clear:both; display:block; margin:0; padding:0; list-style:none;}
.ui-user-infor li
{
    clear:both; display:block; position:relative; overflow:hidden;
    background:#f6f6f6; border-bottom:1px solid #ddd;
}
.ui-user-infor li:hover{ background:#E9E9E9;}
.ui-user-infor li b { display:inline-block; padding:.7em .5em .7em 1em; line-height:1.6em;}
.ui-user-infor li .digital{ display:inline-block; line-height:1.6em; text-decoration:none;}
.ui-user-infor li span{ position:absolute; padding:.45em .5em 0 .5em; right:0;}
.ui-user-infor li span .ui-link
{
    display:inline-block; width:28px; height:28px; padding:0; margin:0 .25em; overflow:hidden;
    text-align:center; line-height:28px; font-weight:normal; text-indent:999px;
    border-radius:.3125em;
}
.ui-user-infor li span .message
{
    background:#008bd6 url(../images/icon-message.png) center center no-repeat; background-size:60%;
}
.ui-user-infor li span .message:hover
				    {
					background:#0073ba url(../images/icon-message.png) center center no-repeat; background-size:60%;
				    }

.ui-user-infor li span .tel
{
    background:#008bd6 url(../images/icon-tel.png) center center no-repeat; background-size:60%;
}
.ui-user-infor li span .tel:hover
				{
				    background:#0073ba url(../images/icon-tel.png) center center no-repeat; background-size:60%;
				}

.ui-user-infor li span .email
{
    background:#008bd6 url(../images/icon-email.png) center center no-repeat; background-size:60%;
}
.ui-user-infor li span .email:hover
				  {
				      background:#0073ba url(../images/icon-email.png) center center no-repeat; background-size:60%;
				  }

/****** layout wrapper ******/
.ui-popup-screen{ background:#000;}
.ui-popup-screen.in {opacity: 0.25;}

.public-layout.ui-overlay-shadow{box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);}
.public-layout .ui-listview{ margin:0; width:100%; min-width:200px;}





/****** applocation page ******/
.ui-applocation-content
{
    padding:0;
}
.ui-app-content
{
    /* CSS3 flexbox properties */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow:row wrap;
}
.ui-app-item
{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding:.5em 1em;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}
.ui-app-item a
{
    display:block; padding:0; text-align:center; text-decoration:none;
}
.ui-app-item a i
{
    display:block; height:1px; padding:2em 0; text-decoration:none;
}
.ui-app-item a b
{
    display:block; text-decoration:none; font-size:1.1em; color:#333; line-height:1.8em;
}
.ui-app-item a.ui-app-email i
{
    background:url(../images/icon-max-email.png) center center no-repeat; background-size:55%;
}
.ui-app-item a.ui-app-folder i
{
    background:url(../images/icon-max-folder.png) center center no-repeat; background-size:55%;
}
.ui-app-item a.ui-app-clock i
{
    background:url(../images/icon-max-clock.png) center center no-repeat; background-size:55%;
}
.ui-app-item a.ui-app-notice i
{
    background:url(../images/icon-max-notice.png) center center no-repeat; background-size:55%;
}
.ui-app-item a.ui-app-other i
{
    background:url(../images/icon-max-other.png) center center no-repeat; background-size:55%;
}
.ui-app-item a.ui-app-add i
{
    background:url(../images/icon-max-add.png) center center no-repeat; background-size:55%;
}


.ui-app-content .ui-app-item:last-child
				 {
				     border-right:0;
				 }


/* work page */
.ui-work-title
{
    clear:both; display:block; height:20px; line-height:20px;
    margin:0; padding:1em 0;
}
.ui-work-title span
{
    float:left;
}
.ui-work-title u
{
    float:right; text-decoration:none;
}

.ui-work-sign
{
    clear:both; display:block; min-height:32px; margin:1em -1em; padding:.5em 1em;
    border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#f3f3f3;
}
.ui-work-sign h5
{
    display:inline-block; float:left; width:35%; font-size:14px; line-height:32px;
    margin:0; padding:0; overflow:hidden; color:#666;
}
.ui-work-sign h5 u
{
    text-decoration:none;
}
.ui-work-sign .ui-btn
{
    display:inline-block; width:auto; margin:0; padding:.4em 1.5em;
    float:right;
    font-size:14px; text-shadow:none; color:#fff; line-height:1.3em;
}
.ui-work-sign.up .ui-btn
{
    background:#E10414; border-color:#C80311;
}
.ui-work-sign.up .ui-btn:hover
			     {
				 background:#C80311; text-shadow:none; color:#fff;
			     }
.ui-work-sign.off .ui-btn
{
    background:#0db51d; border-color:#0b9818;
}
.ui-work-sign.off .ui-btn:hover
			      {
				  background:#0b9818; text-shadow:none; color:#fff;
			      }





/****** setting page ******/
.setting-logo
{
    display:block; text-align:center; padding:2% 0;
}
.setting-logo img
{
    max-width:60%;
}
.setting-item label
{
    font-size:14px;
}
.setting-content
{
    padding:1em;
}
.setting-content > .setting-listview
{
    margin:1em 0;
}
.setting-content > .setting-listview li a b
{
    font-weight:bold; color:#333;
}
.setting-content p button
{
    font-size:14px;
}
.setting-content p button.ui-btn-blue
{
    background:#3388cc; color:#fff; text-shadow:none;
    border:1px solid #2a71af;
}
.setting-content p button.ui-btn-blue:hover
					  {
					      background:#2a71af; color:#fff; text-shadow:none;
					      border:1px solid #2a71af;
					  }
.setting-content p a.ui-btn-red
{
    background:#e10414; color:#fff; text-shadow:none;
    border:1px solid #c80311; font-size:14px;
}
.setting-content p a.ui-btn-red:hover
				    {
					background:#c80311; color:#fff; text-shadow:none;
					border:1px solid #c80311;
				    }


/* mail page*/
.ui-mail-inbox .ui-listview
{
    margin:0 -1em;
}
.ui-mail-inbox .ui-listview .ui-li-has-count span
{
    width:auto;
}
.ui-mail-listview
{
    display:block;
}
.ui-mail-listview li.ui-li-static
{
    padding:0;
}
.ui-mail-listview li .ui-checkbox
{
    margin:0;
}
.ui-mail-listview li .ui-checkbox label
{
    border-radius:0; border:0; padding:4px 1em 4px 2.5em; min-height:40px; overflow:hidden;
}
.ui-mail-listview li .ui-checkbox label u
{
    display:block; line-height:20px; font-size:13px; font-weight:normal; text-decoration:none;
}

.ui-padding0px-content
{
    padding:0;
}
.ui-editor-mail table tr td .ui-input-text
{
    border-style:none; border:0;
}
.ui-editor-mail table tr td .ui-btn
{
    margin:0;
}

.ui-quick-replay{ clear:both; padding:.5em 1em; display:none;}
.ui-quick-replay textarea{ min-height:100px;}


/* Folder page */
.ui-folder-listview{ display:block; margin:0 -1em; padding:0; border-top:1px solid #ddd;}
.ui-folder-listview li
{
    display:block; padding:.7em 0; margin:0 -1px; min-height:30px; position:relative;
    background:#f6f6f6; border-bottom:1px solid #ddd;
}
.ui-folder-listview li:hover{ background:#e9e9e9;}
.ui-folder-listview li a{ display:block; padding:0 3.8em 0 1em; min-height:30px; overflow:hidden;}
.ui-folder-listview li a i
{
    float:left; display:inline-block; width:30px; height:30px; margin-right:1em;
    border-radius: .3125em;
}
.ui-folder-listview li a i.folder
{
    background:#acacac url(../images/icon-folder.png) center center no-repeat;
    background-size:65%;
}
.ui-folder-listview li a i.file
{
    background:#acacac url(../images/icon-file.png) center center no-repeat;
    background-size:65%;
}
.ui-folder-listview li a b{ float:left; display:inline-block; width:30%; overflow:hidden; line-height:30px; color:#333; }
.ui-folder-listview li a span
{
    float:right; width:46%; display:inline-block; overflow:hidden; margin-right:1em;
    font-size:10px; line-height:30px; font-weight:normal; text-decoration:none; color:#666; text-align:right;
}
.ui-folder-listview li a span u{text-decoration:none;}
.ui-folder-listview li a.ui-btn{ float:right; position:absolute; right:0; top:1px; padding:0; margin:.5em .8em;}








































